@model IEnumerable<ClinicaWebApp.Models.Usuario.Paciente.Paciente>

@{
    ViewData["Title"] = "listarPacientes";
    Layout = "~/Views/Shared/_LayoutRecepcionista.cshtml";
}

<h1>Pacientes</h1>
<hr/>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.ActionLink("Detalles", "DetallePaciente", new { id = item.IdPaciente })
            </td>
        </tr>
    }
    </tbody>
</table>
